<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">List your idea</a>
      </div>
    </div>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/addList" >AddList</a>
        </li>

      </ul>
    </div>
    <div class="col-lg-9">
       <router-outlet></router-outlet> 
    </div>
  </div>
</div>